@import url(footer.css);
@import url(header.css);
@import url(main.css);
@import url(checkbox.css);

:root{
  background-color: var(#dfdede);
  background-color: var(#ff9900);
  background-color: var(#6b1111);
  background-color: var(#adadad);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  min-inline-size: 360px;
  max-inline-size: 1920px;
  margin-inline: auto;
  background-color: #4100f4;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.active {
  display: block;
}

.hidden {
  display: none;
}